.card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #31405f;
  color: white; /* White text */
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}
.img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  padding-top: 20px;
  width: 300px;
  height: auto;
  transform: scale(1.1);
}
