:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #232831;
  color-scheme: light dark;
  color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.content {
  width: calc(100%-350px);
  margin-left: auto;
  margin-right: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #232831; /* Fondo de la página */
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 3em;
  line-height: 1.1;
}
h3 {
  font-size: 2.5em;
  line-height: 1.1;
}
h4 {
  font-size: 1.5em;
  line-height: 1.1;
}
p {
  font-size: 1.2em;
  text-align: left;
}
.Resaltar {
  color: aqua;
}
@media (max-width: 1080px) {
  .content {
    margin-left: 0; /* Elimina el margen izquierdo */
    margin-right: 0; /* Elimina el margen derecho */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
  }
}
